# stats packages
datetools
statsmodels
pandas
numpy
scipy
scikit-learn
xgboost
keras


# visualization packages
plotnine
chart-studio

# utility packages
retrying
humanize

# jupyter
jupyter-book
psutil
