p, ol li, ul li {
	font-family: "Roboto Slab", Georgia, Times, serif;
	font-size: 18px;
	font-style: normal;
	line-height: 30.6px;
	font-weight: normal;
	color: rgb(75, 75, 75);
	word-wrap: break-word;
	text-size-adjust: 100%;
}

/* Hide Anchor Link */
a.anchor-link{
	display: none;
}

/* Style Code Cells and Output*/

.hl-ipython3 pre, .output_text pre {
    padding: 10px;
    font-family: monospace;
    line-height: 18px;
    font-size: 16px;
}

.output_wrapper {
	border-top: dashed thin silver;
	border-bottom: dashed thin silver;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom: 0px;

	margin-top:-25px;
	margin-bottom: 10px;
}

.output_wrapper pre {
	border-left: none;
	background-color: transparent;
}

/* Stylize List */

ol {
	list-style: decimal;
	margin-left: 50px;
}


/*Style Dataframe */
table.dataframe {
	color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.2;
    text-align: center;
}


thead {
	text-align: center;
}